﻿@model TestNetCoreApp.Models.SensorModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h4>SensorModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinValue" class="control-label"></label>
                <input asp-for="MinValue" class="form-control" />
                <span asp-validation-for="MinValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxValue" class="control-label"></label>
                <input asp-for="MaxValue" class="form-control" />
                <span asp-validation-for="MaxValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(function () {
        @{
            var message = ViewBag.Message;
        }

        var message = '@message';

        if (message != "") {
            alert(message);
        }
    });

    $(function () {
        jQuery.validator.addMethod("min", function (value, element, params) {
            console.log(value);
            console.log(element);
            console.log($(params[0]).val());
            if (value >= $(params[0]).val()) {
                return false;
            }
            else {
                return true;
            }
        });

        $.validator.unobtrusive.adapters.add('min', ['max'], function (options) {
            var element = $(options.form).find('input#MaxValue')[0];
            console.log(element);

            options.rules['min'] = [element, parseFloat(options.params['max'])];
            options.messages['min'] = options.message;
        });
    });
</script>